/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #fff; */
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
#desktop-nav {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
}
#desktop-nav a {
  text-decoration: none;
  color: #fff;
  border-bottom: #cd5c08 3px solid;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: #cd5c08;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  /* padding-top: 4vh; */
  /* padding-left: 10rem; */
  padding: 4vh 10rem 0 10rem;
  /* height: 96vh; */
  margin: 10rem 0rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5rem;
  height: 80vh;
  position: relative;
  background-color: #fff;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: left;
  text-align: left;
}

#socials-container {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}
#socials-container p {
  display: flex;
  align-items: center;
}
.text-container {
  margin-top: 2rem;
  width: 50%;
  font-weight: 300;
}
.section__text__p1 {
  text-align: left;
  font-weight: 600;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: inline-block;
}

.title {
  margin-bottom: 3rem;
  display: inline;
  font-size: 3rem;
  text-align: left;
}
.title span {
  color: grey;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
.icon:hover {
  transform: scale(1.1);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  color: #c2410c;
  /* border-radius: 2rem; */
}

.btn-color-1,
.btn-color-2 {
  border: #c2410c 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #c2410c;
  color: white;
}

.btn-color-1:hover {
  background: #fff;
  color: #c2410c;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 9999px;
  width: 100px;
  height: 100px;
}

.arrow {
  position: absolute;
  right: 3rem;
  bottom: 2.5rem;
}

/* skills SECTION */

#skills {
  position: relative;
}
#skills .title {
  display: inline-block;
  margin-top: 2rem;
}

.skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

article {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  width: 8rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

article .icon {
  cursor: default;
  height: 5rem;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}
.project-container h1 {
  font-size: 2rem;
}
.project-img-container {
  margin-right: 2rem;
}
.project-img {
  border-radius: 1rem;
  width: 500px;
  height: 300px;
}
.project-desc {
  margin-bottom: 4rem;
}
.project-tech {
  margin-top: 1rem;
}
.techstack-container {
  background: #000;
  color: #fff;
  margin-right: 0.5rem;
  padding: 2px;
}
.project-detail {
  margin-top: 2rem;
}
.project-detail li {
  margin-bottom: 1rem;
}
.project-link {
  margin-top: 2rem;
}
.project-detail a {
  background-color: #c2410c;
  border: #c2410c solid 1px;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}
.project-detail a:hover {
  background-color: #fff;
  border: #c2410c solid 1px;
  text-decoration: none;
  color: #c2410c;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.sub-detail {
  color: gray;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 70vh; */
  position: relative;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
