@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #f2f2f2 1px, transparent 1px),
    linear-gradient(to bottom, #f2f2f2 1px, transparent 1px);
  transition: background 2s;
}

.markdown h1 {
  @apply text-3xl font-semibold border-b-4 border-double border-orange-800 inline;
}

.markdown h2 {
  @apply text-2xl font-semibold text-gray-500;
}
.markdown li {
  @apply text-lg font-semibold text-black;
}